  
#tabbed_box {  
    margin: 0px auto 0px auto;  
    width:300px;  
} 
     
    
	.tabbed_area {  
      
    background-color:#dcdcdc;  
    padding:8px; 
	-moz-border-radius: 10px ;
    border-radius: 10px ;
	margin-top:20px;
} 

ul.tabs {  
    margin:0px; padding:0px;  
}  
ul.tabs li {  
    list-style:none;  
    display:inline;
    	
} 

ul.tabs li a {
	background-color:#464c54;
	color:#FFF;
	padding:8px 14px 8px 14px;
	text-decoration:none;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;      
}  
ul.tabs li a:hover {  
    background-color:#2f343a;  
    border-color:#2f343a;  
}  
ul.tabs li a.active { 
    font-size:17px;
    background-color:#ffffff;  
    color:#282e32;    
} 
.content {  
    background-color:#ffffff;  
    padding:10px;
	font-size:15px;
}  
#content_2, #content_3  ,#content_4{ display:none; } 
ul.tabs {  
    margin:0px; padding:0px;  
    margin-top:5px;  
    margin-bottom:6px;  
} 
.font_info
{
background-color:#fdffc7;
height: 35px;
padding-top:15px;
text-align:center;
color:#444;
}
